<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "All Users"}) %>
<body>
    <!-- navbar -->
    <%- include('../partials/nav') %>


    <div class='submitPost'>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <a href="/users/<%= user._id %>">
                        <%= user.username %>
                    </a>
                    <form action="/users/<%= user._id %>/edit">
                        <button type="submit" class="btn btn-link btn-sm pull-left">UPDATE</button>
                    </form>
                    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link btn-sm pull-left">DELETE</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>


    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>
