<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "All Users"}) %>
<body>
    <!-- navbar -->
    <%- include('../partials/nav') %>


    <div class='submitPost'>
        <ul>
            <li>List of Users</li>
            <% users.forEach(user => { %>
                <li>
                    <a href="/users/<%= user._id %>">
                        <%= user.username %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>


    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>
