<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "YOUR PROFILE"}) %>

<body>
    <!-- navbar -->
    <%- include('../partials/nav') %>

    <div class="posts">
        <div class="profile-container">
            <!-- LEFT SIDE OF THE PROFILE - SHOW POSTS -->
            <div class="profile-posts">
                <div>
                    <h4>YOUR POSTS</h4>

                    <div class='profile-posts-list'>

                        <!-- If there is no post -->
                        <% if(thisUser.posts.length === 0) { %>
                            <div class="profile-nopost">You don't have any post yet <i class="far fa-frown"></i></div>
                        <% } %>

                        <!-- show newest post first -->
                        <ul>
                            <% for(let i = thisUser.posts.length-1; i >= 0; i--){ %>
                                <li>
                                    <article class="articlePost">
                                        <a href="/posts/<%= thisUser.posts[i]._id %>"> <%= thisUser.posts[i].title %> </a>
                                        <div class="submitbtn">
                                            <small>Submitted on: <%= moment(thisUser.posts[i].createdAt).fromNow(); %></small>
                                            <% if(thisUser.username === user.username) { %>
                                            <form action="/posts/<%= thisUser.posts[i]._id %>/edit">
                                                <button type="submit" class="btn btn-link btn-sm pull-left"><small>EDIT</small></button>
                                            </form>
                                            <form action="/posts/<%= thisUser.posts[i]._id %>?_method=DELETE" method="POST" onclick="return confirm('Are you sure you wish to delete this post?');">
                                                <button type="submit" class="btn btn-link btn-sm pull-left delete-btn"><small>DELETE</small></button>
                                            </form>
                                            <% } %>
                                        </div>
                                    </article>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE OF THE PROFILE - SHOW USER INFO -->
            <div class="profile-right">
                <div class="profile-user">
                    <h4>PROFILE</h4>
                    <p class="profile-pic"><img src="<%= thisUser.profilePic %>" style="width:200px;height:200px;"></p>
                    <p><b>username:</b> <%= thisUser.username %></p>
                    <p><b>karma:</b> <%= thisUser.karma %></p>
                    <p><b>cakeday:</b> <%= moment(thisUser.createdAt).format("MMM Do YY"); %></p>
                    <% console.log(thisUser._id)%>
                    <% if(thisUser.username === user.username) { %>
                        <div class="profile-form-btn">
                        <form action="/users/<%= thisUser._id %>/edit">
                            <button type="submit" class="btn btn-link btn-sm"><small>EDIT INFO</small></button>
                        </form>
                        <form action="/users/<%= thisUser._id %>/deactivate">
                            <button type="submit" class="btn btn-link btn-sm"><small>DELETE ACCOUNT</small></button>
                        </form>
                    </div>
                <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>

