<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
  </head>
  <body>
    <main>
      <section>
        <a href="<%= post._id %>/edit">Edit</a>
        <ul>
          <li><%= post.title %></li>
          <li><%= post.body %></li>
        </ul>
      </section>
      <form action="/<%= post._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </main>
  </body>
</html>
