<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "Edit Post"}) %>
<body>
    <!-- navbar -->
    <%- include('../partials/nav.ejs') %>
    <a id="top"></a>
    <div class="submitPost post-show-container">
      <!-- LEFT = VOTES BAR -->
      <div class="post-show-left">
        <div class="post-show-votes">
          <p><a href="/posts/<%= post._id %>/up" class="btn btn-link btn-sm"><i class="fas fa-caret-up vote-icon"></i></a></p>
          <p><%= post.votes %></p>
          <p><a href="/posts/<%= post._id %>/down" class="btn btn-link btn-sm"><i class="fas fa-caret-down vote-icon"></i></a></p>
        </div>
      </div>

      <!-- RIGHT = TITLE + BODY -->
      <div class="post-show-right">
        <h4 class="post-show-title"><%= post.title %></h4>
        <div class="post-show-body"><pv><%=post.body%></pv></div>

        <div class="post-show-edit">
          <br><small>Submitted on <%= moment(post.createdAt).format('llll'); %></small>

          <% if(user.id == post.user){ %>
          <form action="/posts/<%= post._id %>/edit">
            <button type="submit" class="btn btn-link btn-sm">UPDATE</button>
          </form> |
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link btn-sm">DELETE</button>
          </form>
          <% } %>
        </div>
      </div>

      <a href="#comments">COMMENTS</a>

    </div>

        <!-- COMMENT SESSION -->
        <a id="comments">
          <div class="submitPost">
            <% if (user) { %>
            <div class="submitComment">
              <form action="/posts/comments" method="POST">
                  <div class="form-group user-edit-form">
                      <label>Make a comment</label>
                      <input type="text" name="body" class="form-control" placeholder="Enter text here">
                  </div>
                  <input type="text" name="user" class="form-control" value="<%=user.id%>" hidden>
                  <input type="text" name="post" class="form-control" value="<%=post.id%>" hidden>
                  <div class="submitbtn"> <input type="submit" class="btn btn-primary btn-sm" value="COMMENT"> </div>
                </form>
            </div>
            <% } %>
            <div class='comments'>
              <ul>
                  <% for(let i=comments.length-1; i >= 0; i--){ %>
                      <li>
                        <%= comments[i][0].body %>
                        <br><small>Submitted on <%= moment(comments[i].createdAt).format('llll'); %> by <%=comments[i][1].username%> </small>
                      </li>
                  <% } %>
                  <li><a href="#top"><i class="fas fa-arrow-up"></i> back to top</a></li>
              </ul>
            </div>
          </div>
        </a>

    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>
