

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: "FRONT PAGE"}) %>

<body>
    <!-- navbar -->
    <%- include('../partials/nav.ejs') %>
    <a id="top"></a>
    <div class="submitPost subs-list">
        <h3>A list of existing communities</h3>
        <ul>
            <% for(let i = 0; i<subreddits.length; i++){ %>
                <li><p><a href="/r/<%=subreddits[i]%>"> <%=subreddits[i]%> </a></p></li>
            <% } %>
            <li id="backtotop"><a href="#top"><i class="fas fa-arrow-up"></i> back to top</a></li>
        </ul>
    </div>





    <!-- footer -->
    <%- include('../partials/footer.ejs') %>

</body>
</html>
